#pagina{
    padding: 0;
    margin: 0;
    width: 100vw;
}

#cabecera{
    background: url('https://upload.wikimedia.org/wikipedia/commons/b/b1/Andaman_Beach_-_A_Funstay_day.jpg');
    background-size: cover;
    width: 100vw;
    height: 40vh;
    overflow: hidden;
}

#tituloAndPhoto{
    margin-top: 3vh;
    margin-left: 7vw;
    width: 45vw;
    float: left;
}

#tituloAndPhoto img{
    width: 16vh;
    height: 16vh;
    overflow: hidden;
    border-radius:150px;
    border: 3px solid rgb(47, 104, 24);
}

#redes{
    position: fixed;
    width: 15vw;;
    right: 0;
    margin-left: 35vw;
}


#informacion{
    width: 100vw;
    height: 60vh;
}