body {
    background-image: url('../imagenes/fons.PNG');
    color: gray;
    background-size: cover;
}

#informacion {
    color: gray;
}

footer {
    margin-top: 70px;
}

footer button {
    border: 3px solid #161414;
}