body {
    background: #ccc;
    border: 3px solid brown;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cabecera {
    float: left;
    min-width: 100px;
    min-height: 500px;
    margin-top: 130px;
    display: block;
}

.content {
    margin: 10px;
    width: 900px;
    margin: 0 auto;
    padding: 5px;
}

h1 {
    letter-spacing: 5px;
    text-align: center;
}

.verde {
    color: green;
}

.naranja {
    color: orange;
}

article {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

article h2 {
    color: green;
}

li {
    list-style: none;
    width: auto;
    height: 10px;
    padding-top: 15px;
}

a {
    color: black;
    text-decoration: none;
}

.verdelink a {
    background: green;
}

.rojolink a {
    background: red;
}