body{
	margin-top: 30px;
	background-image: url('pingu.jpg');
	background-repeat: no-repeat;
    background-size: 70%;
    background-position: center; 
    background-attachment: fixed;

}

.content{
	margin-top: 370px;
	display: flex;
   	justify-content: center;
   	align-items: center;
}

table{
	border: 1px solid yellow;
	text-transform: uppercase;
	width: 60%;
	text-align: center;
}

th{
	background: white;
}

td{
	background: yellow;
}

