body {
    width: 900px;
    border: 3px solid brown;
    border-radius: 30px;
    padding: 15px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

#cabecera {
    float: left;
    margin-top: 90;
    display: block;
}

.content {
    margin: 10px;
    width: auto;
    margin: 0 auto;
    margin-left: 50px;
    padding: 5px;
}

.clearFix {
    clear: both;
    display: block;
}

h1 {
    letter-spacing: 5px;
    text-align: center;
}

.verde {
    color: green;
}

.naranja {
    color: orange;
}

article {
    display: block;
    padding: 30px;
    margin-left: 100px;
    border: 1px solid black;
    background-image: linear-gradient(silver, white, white, white, silver);
}

article h2 {
    color: green;
}

ul {
    margin-left: 0px;
    padding-left: 0px;
}

li {
    list-style: none;
    height: 10px;
    padding: 15px;
    margin-top: 5px;
    width: 40px;
}

.verdelink a {
    background-image: linear-gradient(white, green);
}

.rojolink a,
.verdelink a:hover {
    background-image: linear-gradient(white, red);
}

a {
    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    display: block;
    width: 90px;
}

footer{
    text-align: center;
    color: gray;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;

}

.linea{
      text-decoration: underline;
}