#content {
    width: 100%;
    height: 400px;
    border: 2px solid red;
    background-color: #a4d3ff;
    padding: 0px;
}

#nuves {
    height: 80px;
    background-image: url('texto/f03.png');
    padding-bottom: 3px;
}

#cielo {
    height: 200px;
}

#mario {
    background-image: url('texto/f02.png');
    height: 100px;
    background-repeat: no-repeat;
    margin-left: 50%;
}

#suelo {
    background-image: url('texto/f01.png');
    width: 100%;
    height: 20px;
}