body {
    background: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9em;
    padding-left: 8px;
}

h1 {
    background: orange;
    font: bold;
    font-size: 1em;
    padding: 10px;
}

h2 {
    font: italic;
    color: blue;
    font-size: 1.3em;
    font-style: italic;
}

strong {
    color: blue;
}

span {
    font-style: italic;
    color: blue;
}