body {
    background: #ccc;
    border: 3px solid brown;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    margin: 5px;
}

h1 {
    letter-spacing: 5px;
    text-align: center;
}

.verde {
    color: green;
}

.naranja {
    color: orange;
}

article {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

article h2 {
    color: green;
}