#menu {
    font-family: Arial; 
    margin: 5px;
}

#menu p{
    margin: 0px;
    padding: 0px;
}

#menu a {
    display: block;
    padding: 3px;
    width: 160px;
    text-align: center;
}

#menu a:link, #menu a:visited{
    text-decoration: none;
}

#detalles {
    text-align: left;
    font-family: verdana;
    padding: 5px;
    margin: 20px;
}