body {
    background-image: url('images/ac.jpg');
}

div {
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
    margin: 40px;
    background: white;
}

.modA {
    background-image: url('images/back_mantel.jpg');
}

.modB {
    background-color: white;
    background-image: url('images/back_mantel.jpg');
    background-clip: content-box;
    border: 10px solid transparent;
    width: 90px;
    height: 90px;
}

.modC {
    background-image: url('images/back_mantel.jpg');
    background-size: 100% 100%;
}

.modD {
    background-image: url('images/back_mantel.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.modE {
    background-image: url('images/dh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.modF {
    background-image: url('images/dh.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    border: 10px solid white;
    width: 90px;
    height: 90px;
}

.modG {
    background-image: url('images/dh_2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.modH {
    background-image: url('images/dh_3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.modI {
    background: linear-gradient(to right, #d2ff52 0%, #566647 100%);
}

.modJ {
    background: linear-gradient(to bottom, rgba(240, 183, 161, 1) 0%, rgba(140, 51, 16, 1) 80%, rgba(117, 34, 1, 1) 51%, rgba(191, 118, 78, 1) 100%);
}

.modK {
    background: linear-gradient(to top, rgba(50, 116, 45, 1) 0%, rgba(239, 239, 210, 1) 100%);
}

.modL {
    background: rgba(50, 116, 45, 0.6);
}