body {
    background: pink;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

table {
    width: 100%;
    text-transform: uppercase;
}

table,
td {
    text-align: center;
    border: 1px solid blue;
}

img {
    width: 90px;
    height: 90px;
    overflow: hidden;
}