table{
	width: 80%;
	border: 2px solid blue;
	text-align: center;
}

th{
	border-right: 1px solid blue;
	text-transform: uppercase;
	background: #2F4F4F;
	color: #8FBC8F;

}

td{
	border-top: 1px solid blue;
	border-right: 1px solid blue;
	text-transform: none;
}

/*Taula par */
tr{
    background-color: #8FBC8F;

}

/* Files impars */
tr:nth-child(2n+1){
    background-color: #7FFF00;
 }