table{
	width: 60%;
	border: 2px solid blue;
	text-align: center;
}

th{
	border-right: 1px solid blue;
	text-transform: uppercase;
	background: #2F4F4F;
	color: #8FBC8F;

}

td{
	border-top: 1px solid blue;
	border-right: 1px solid blue;
	text-transform: none;
}

/*Taula par */
tr{
    background-color: #7FFF00;
}

.resaltat{
    background-color: #8FBC8F;
}    