body {
    background: #333;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    margin-left: 15%;
}

h1 {
    color: white;
    font-size: 2em;
}

p {
    font-size: 1.2em;
    color: white;
}