table {
    width: 100%;
    text-align: center;
    color: red;
}

td,
table {
    border: 1px solid rgb(192, 129, 139);
}

th {
    text-transform: uppercase;
    color: red;
    background: rgb(22, 87, 22);
}

.yellow {
    background: yellow;
}

.patas {
    background: #ffdbc4;
    background-image: url('patas.jpg');
}

.pink {
    background: #cfa183;
    text-transform: uppercase;
}