table {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

td {
    border: 1px solid black;
}

.left {
    background: lightblue;
    text-align: left;
}

.green {
    background: green;
}

.pink {
    text-align: right;
    background: pink;
}

.red {
    color: red;
}