body {
    background: pink;
}

h1 {
    text-decoration: underline;
    text-align: center;
}

table {
    width: 100%;
    align-content: center;
}

td {
    border: 3px solid rgb(192, 129, 139);
    width: 40px;
    text-align: center;
    padding: 0px;
}